.subtitle {
    color: var(--primary-color);
    text-align: center;
    padding-top: 20px;
}
.topline {
    justify-content: center;
    display: flex;
}

.line {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 20px;
    width: 25%;
}

.main-buttons {
    text-align: center;
}

.contact-button {
    width: 450px;
}
