.table-form {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.attribute {
    font-weight: bold;
    padding: 12px var(--content-left-min);
}

.sub-attribute {
    font-weight: normal;
}